body {
   margin: 5px;
   /* margin-top: px; */
   color: rgb(255, 255, 255);
   background-color: rgb(37, 37, 37);
   font-family:Arial, Helvetica, sans-serif ;
}

h1 {
   font-size: 30px;
}

h3 {
   font-size: 28px;
   margin-bottom: 10px;
}

.center_it {
   display: flex;
   justify-content: center;
   flex-direction: column;
   align-items: center;

}

label {
   font-family: Arial, Helvetica, sans-serif;
   font-size: 16px;
}

input[type='text'], input[type='password'] {
   border: none;
   padding: 5px;
   border-radius: 3px;
   box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 2px 0px;
   font-size: 14px;
   min-width: 250px;
}

.form_grid {
   position: relative;
   padding: 18px;
   display: grid;
   gap: .5rem;
   border-radius: 1rem;
   box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
   /* background-color: #ffffff34; */
   border: 1px solid rgba(255, 255, 255, 0.464);
}

section {
   position: relative;
}

/* ----- curves start-----*/

/* curve 1 */
.custom-shape-divider-top-1 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
   z-index: -5;
}

.custom-shape-divider-top-1 svg {
   position: relative;
   display: block;
   width: calc(100% + 2px);
   height: 225px;
}

.custom-shape-divider-top-1 .shape-fill {
   fill: #17aaff;
}

/* curve 2 */
.custom-shape-divider-top-2 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
   z-index: -10;
}

.custom-shape-divider-top-2 svg {
   position: relative;
   display: block;
   width: calc(100% + 2px);
   height: 250px;
}

.custom-shape-divider-top-2 .shape-fill {
   fill: #dbf4ffc0;
}

/* curve 3 */
.custom-shape-divider-top-3 {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   overflow: hidden;
   line-height: 0;
   transform: rotate(180deg);
   z-index: -15;
}

.custom-shape-divider-top-3 svg {
   position: relative;
   display: block;
   width: calc(100% + 2px);
   height: 300px;
}

.custom-shape-divider-top-3 .shape-fill {
   fill: #333333;
}

/* ----- curve end ----- */

button {
   margin: auto;
   width: 75px;
   border: none;
   background-color: rgb(0, 140, 255);
   border-radius: 5px;
   padding:5px ;
}

button:hover {
   box-shadow: rgba(80, 84, 88, 0.2) 0px 8px 24px;
   transform: scale(1.05);
   transition: ease .2s;
   color: white;
   cursor: pointer;
}

.nav_placement {
   display: flex; 
   justify-content: flex-end;
   margin-right: 35px;
}

.navbar {
   display: flex;
   width: 350px;
   height: 35px;
   border-radius: 30px;
   border: none;
   background-color: white;
   box-shadow: rgba(80, 84, 88, 0.46) 0px 8px 24px;
   align-items: center;
   justify-content: flex-end;
   color: black;
   padding: 5px 15px 5px 5px;
   margin-bottom: 15px;
}

.form_error {
   color: red;
   text-align: center;
   font-size: 25px;
}

.form_success {
   color: green;
   text-align: center;
   font-size: 25px;
}